:root {
  --heading-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
  --color: #198754;
}

body {
  font-family: var(--main-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
}

h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bolder;
}

.hero {
  padding: 120px 20px;
}

.about-section {
  padding: 55px 20px;
}

.project {
  transition: transform 300ms ease-out;
}

.project:hover {
  cursor: pointer;
  transform: translate(0px, 0px) scale(1.05, 1.05);
}

.email {
  font-family: var(--heading-font-family);
  text-decoration: none;
  font-weight: bold;
}

.email:hover {
  text-decoration: underline;
}

.socials a {
  text-decoration: none;
  font-size: 22px;
  margin: 0px 30px;
  padding: 9px 14px;
  color: #2b3035;
  background-color: #f9f7fe;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.socials :hover {
  color: #f9f7fe;
  background-color: #2b3035;
}

@media (max-width: 768px) {
  .my-projects {
    display: block;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }

  .my-projects,
  .contact-form {
    display: block;
    size: 400px;
  }

  .submit {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 393px) {
  .hero {
    padding: 50px 20px;
  }

  .about-section {
    padding: 0px 20px;
  }

  h1 {
    font-size: 40px;
  }

  .my-projects {
    width: 300px;
  }

  .socials {
    margin-top: 50px !important;
  }
}
