:root {
  --heading-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
}

h4 {
  font-weight: bolder;
}

h5 {
  font-weight: bold;
}

.hero {
  padding: 120px 20px;
}

.about-section {
  padding: 55px 20px;
}

.project {
  transition: transform 300ms ease-out;
}

.project:hover {
  cursor: pointer;
  transform: translate(0px, 0px) scale(1.1, 1.1);
}
